In [13]:
import pandas as pd

In [14]:
target = pd.read_excel('target.xlsx')
target.head()

  用户名称                   用户邮箱   事业部  职级       入司时间
0   樊坤     kun.fan@zatech.com  ZATI  T6 2017-06-01
1   马瑞        rui.ma@za.group  ZATI  T5 2021-09-13
2  李丰毅     fengyi.li@za.group  ZATI  T2 2021-06-24
3  徐仲添  zhongtian.xu@za.group  ZATI  T4 2021-12-23
4  秦越鹏   yuepeng.qin@za.group  ZATI  T3 2021-09-02

In [15]:
target.dtypes.to_frame()

                   0
用户名称          object
用户邮箱          object
事业部           object
职级            object
入司时间  datetime64[ns]

In [16]:
source = pd.read_excel('source.xlsx')
source.head()

,姓名,公司邮箱,事业部,职级,入体系日期,二级部门,三级部门,四级部门,五级部门,六级部门,员工类型,工作地
0,钟海平,haiping.zhong@zatech.com,ZATI,T8,2013-09-09,ZA TECH,PROD & TECH,DATA INTELLIGENCE,NaN,NaN,正式员工,上海市
1,许炜,wayne.xu@za.group,ZATI,G5,2014-02-17,NaN,NaN,NaN,NaN,NaN,正式员工,香港
2,宋玄壁,bill.song@zatech.com,ZATI,G4,2014-11-17,ZA TECH,NaN,NaN,NaN,NaN,正式员工,香港
3,金佳泓,jiahong.jin@zatech.com,ZATI,T8,2014-12-12,ZA TECH,PROD MGR & BA,PRODUCT OWNER & BA IN PRODUCT TEAM,FUSION,NaN,正式员工,上海市
4,孟新伟,xinwei.meng@zatech.com,ZATI,T6,2014-12-22,ZA TECH,DELIVERY TEAM,PM(INCOME),NaN,NaN,正式员工,上海市

In [17]:
source.dtypes.to_frame()

                    0
姓名             object
公司邮箱           object
事业部            object
职级             object
入体系日期  datetime64[ns]
二级部门           object
三级部门           object
四级部门           object
五级部门           object
六级部门           object
员工类型           object
工作地            object

# pd.merge()的使用
+ left: 左表
+ right: 右表
+ how: 连接方式, 内连接, 左外连接, 右外连接, 全外连接, cross
+ left_on: 左表中的键
+ right_on: 右表中的键

缺点: 会将两张表中的同名属性全部保留下来, 需要手动挑选属性

In [30]:
# 手动挑选所需要的属性
need_column = ["姓名", "公司邮箱", "事业部", "职级", "入体系日期", "二级部门", "三级部门", "四级部门", "五级部门", "员工类型", "工作地"]
pd.merge(left=target, right=source, left_on=["用户名称", "用户邮箱"], right_on=["姓名", "公司邮箱"], how="left",
         suffixes=("_delete", ""))[need_column]

,姓名,公司邮箱,事业部,职级,入体系日期,二级部门,三级部门,四级部门,五级部门,员工类型,工作地
0,樊坤,kun.fan@zatech.com,ZATI,T6,2017-06-01,ZA TECH,PROD & TECH,DEVELOPMENT,GRAPHENE,正式员工,上海市
1,马瑞,rui.ma@za.group,ZATI,T5,2021-09-13,ZA ENGINEERING,ZA BANK ENG,DEV,零售贷前,正式员工,上海市
2,李丰毅,fengyi.li@za.group,ZATI,T2,2021-06-24,ZA ENGINEERING,ZA BANK ENG,QUALITY ENG,零售贷前,正式员工,深圳市
3,徐仲添,zhongtian.xu@za.group,ZATI,T4,2021-12-23,ZA ENGINEERING,ZA INVEST ENG,DEV,股票交易一组,正式员工,深圳市
4,秦越鹏,yuepeng.qin@za.group,ZATI,T3,2021-09-02,ZA ENGINEERING,ZA INSURE ENG,DEV,NaN,正式员工,深圳市
...,...,...,...,...,...,...,...,...,...,...,...
337,韩佳君,jiajun.han@za.group,ZATI,T6,2021-08-16,ZA ENGINEERING,ZA IP ENG,DEV,客服中台,正式员工,上海市
338,吴志文,zhiwen.wu@za.group,ZATI,T5,2021-06-10,ZA ENGINEERING,ZA FRONTEND,WEB,INVEST,正式员工,深圳市
339,王振华,zhenhua.wang@za.group,ZATI,M2,2021-05-13,ZA BANK,BANK RETAIL,DEPOSIT & AU,NaN,正式员工,香港
340,侯恒悦,hengyue.hou@za.group,ZATI,T6,2021-01-11,ZA BANK,OPERATIONS,CS PRODUCT & OPTIMIZATION,NaN,正式员工,深圳市
341,黄仁黔,renqian.huang@za.group,ZATI,T5,2019-12-23,ZA ENGINEERING,ZA FRONTEND,APP,BANK,正式员工,深圳市